.container {
  @include container_wrapper;
  // position: relative;
  
.another__container {
  // height: 100%;
  // transform: skew(-15deg);
}

  .container__background { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .container__background::before{
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
  }

  .list {
    margin-top: 35px;
    display: grid;
    grid-template-areas: 'item_one item_two item_two item_two item_two item_three item_three'
                          'item_four item_four item_five item_five item_six item_six item_six';
    grid-template-rows: repeat(2, 220px);
    gap: 20px;

    @media screen and (max-width: $screen-s) {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }

    @media screen and (max-width: $screen-xs) {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      }

    .item {
      &__1 {
        grid-area: item_one;
        height: 220px;
      }
      &__2 {
        height: 220px;
        grid-area: item_two;
      }
      &__3 {
        height: 220px;
        grid-area: item_three;
      }
      &__4 {
        height: 220px;
        grid-area: item_four;
      }
      &__5 {
        height: 220px;
        grid-area: item_five;
      }
      &__6 {
        height: 220px;
        grid-area: item_six;
      }
      }
    }
  }