.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  &:hover {
    .main {
      transition: .3s ease;
      height: 150px;
      @media screen and (max-width: $screen-l) {
        height: 160px;
      }
      &__subtitle {
        transition: .3s ease;
        opacity: 1;
      }
    }
    .title {
      transition: .3s ease;
      color: $whiteText;
    }
  }
  .background {
    position: relative;
    width: 100%;
    height: 100%;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0, 0.5);
      z-index: 1;
    }
  }

  .title {
    @include h2;
    font-weight: 700;
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgba($whiteText, .65);
    transition: .3s ease;
    z-index: 2;
  }

  .main {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
    background: $orange;
    padding: 10px 20px;
    transition: .3s ease;
    z-index: 2;
    @media screen and (max-width: $screen-l) {
      height: 55px;
    }
    
    &__title {
      @include p2;
      font-weight: 600;
      color: $whiteText;
      margin-bottom: 5px;
      @media screen and (max-width: $screen-l) {
        font-weight: 600;
      }
    }
    &__subtitle {
      @include p4;
      color: $whiteText;
      opacity: 0;
      transition: .3s ease;
    }
  }
}
